.row{
    margin-Top:20px;
    padding:0;
}
.cardTitle{
    font-Size: 13px;
    padding:0;
    margin:0;
    font-Weight:700;
    font-family: 'Roboto', sans-serif;
}
.replyText{
    font-Size: 14px;
    padding:0;
    margin-Top:5px;
    font-family: 'Roboto', sans-serif;
}